<div id="resetDiv">
    <button (click)="keepFirst()" class="border border-info rounded bg-dark text-info">Reset</button>    
</div>
<div class="row justify-content-around p-1">
    <table class="col-12">
        <thead>
            <tr class="border-bottom text-info">
                <td class="col-1">Id</td>
                <td class="col-2">Team Name</td>
                <td class="col-2">Game Name</td>
                <td class="col-3">Email Id</td>
                <td class="col-4">Actions</td>
            </tr>
        </thead>
        <tbody *ngIf="teams">
            <tr *ngFor="let team of teams">
                <td class="col-1" [innerText]="team.id"></td>
                <td class="col-2" [innerText]="team.teamName"></td>
                <td class="col-2" [innerText]="team.gameName"></td>
                <td class="col-3" [innerText]="team.emailId"></td>
                <td class="col-4">
                    <button class="btn text-primary p-1 mr-2" (click)="updateTeam(team.id)"><small>Update</small></button>
                    <button class="btn text-danger p-1 mr-2" (click)="deleteTeam(team.id)"><small>Delete</small></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>