<div *ngIf="showLoginFailedError" class="d-flex row justify-content-around text-danger border border-danger">
    <div class="col-11"><em class="text-danger">Invalid Credentials</em></div>
    <div class="col-1"><button class="bg-dark text-danger border-0"
            (click)="showLoginFailedError = !showLoginFailedError">&times;</button></div>
</div>

<form (ngSubmit)="onSubmit(user)" #loginUserForm="ngForm">

    <div>
        <label class="m-2" for="username">username</label>
        <input class="col-6 bg-dark text-light" type="text" name="username" [(ngModel)]="user.username"
            autocomplete="username" required #username="ngModel">
        <span [hidden]="username.valid" class="small text-danger p-2">Mandatory field</span>
    </div>

    <div>
        <label class="m-2" for="password">password</label>
        <input class="col-6 bg-dark text-light" type="password" name="password" [(ngModel)]="user.password"
            autocomplete="off" required #password="ngModel">
        <span [hidden]="password.valid" class="small text-danger p-2">Mandatory field</span>
    </div>

    <button type="submit" [disabled]="!loginUserForm.form.valid" class="m-2 bg-dark border rounded"
        [ngClass]=" !loginUserForm.form.valid ? 'text-danger border-danger' : 'text-success border-success'">Submit</button>
    <br><small>Login to UI for "User" type user</small>

</form>