<h4>Update Team</h4>

<div *ngIf="showMessage">

    <ng-container *ngIf="isTeamUpdated; else errorTemplate"
        class="d-flex row justify-content-around text-success border border-success">

        <div *ngIf="team.id" class="d-flex row justify-content-around text-success border border-success">
            <div class="col-11">Updated Team Successfully. The team id is {{team.id}}.</div>
            <div class="col-1"><button class="bg-dark text-success border-0"
                    (click)="showMessage = !showMessage">&times;</button></div>
        </div>
    </ng-container>

    <ng-template #errorTemplate>
        <div class="d-flex row justify-content-around text-danger border border-danger">
            <div class="col-11">Something went wrong!</div>
            <div class="col-1"><button class="bg-dark text-danger border-0"
                    (click)="showMessage = !showMessage">&times;</button></div>
        </div>
    </ng-template>

</div>

<form [formGroup]="updateTeamFormGroup" (ngSubmit)="onSubmit()">

    <div>
        <label class="m-2" for="teamId">Team Id:&nbsp;</label>
        <input class="col-6 bg-dark text-light" type="text" name="teamId" [value]="team.id" disabled>
    </div>

    <div>
        <label class="m-2" for="teamName">Team Name:&nbsp;</label>
        <input class="col-6 bg-dark text-light" type="text" name="teamName" formControlName="teamName">
        <small class="text-danger mx-2">
            <span *ngIf="teamName?.errors?.['required']">
                * required &emsp;
            </span>
            <span *ngIf="teamName?.errors?.['maxlength']">
                * maximum 2 characters can be added&emsp;
            </span>
        </small>
    </div>

    <div>
        <label class="m-2" for="gameName">Game Name:&nbsp;</label>
        <input class="col-6 bg-dark text-light" type="text" name="gameName" formControlName="gameName">
        <small class="text-danger mx-2">
            <span *ngIf="gameName?.errors?.['required']">
                * required &emsp;
            </span>
            <span *ngIf="gameName?.errors?.['minlength']">
                * minimum 4 characters are required &emsp;
            </span>
        </small>
    </div>

    <div>
        <label class="m-2" for="emailId">Email Id:&nbsp;</label>
        <input class="col-6 bg-dark text-light" type="email" name="emailId" formControlName="emailId">
        <small class="text-danger mx-2">
            <span *ngIf="emailId?.errors?.['required']">
                * required &emsp;
            </span>
        </small>
    </div>

    <button type="submit" [disabled]="!updateTeamFormGroup.valid" class="m-2 bg-dark rounded"
        [ngClass]=" !updateTeamFormGroup.valid ? 'text-danger border-danger' : 'text-success border-success'">Submit</button>
    <button (click)="clearForm()" class="m-2 bg-dark rounded text-info border-info">Clear</button>
</form>